FLASK_ENV=production
SECRET_KEY=jfsdfadsffdsfkkfdslkfajsdlkjfa
DATABASE_URL=sqlite:///birthdays.db
SMTP_HOST=mail-relay.it.beloil.by
SMTP_PORT=25
SMTP_USERNAME=suid-assistant@beloil.by
SMTP_PASSWORD=
SMTP_USE_TLS=False
SMTP_TIMEOUT=10
MAIL_FROM=suid-assistant@beloil.by
MONTHLY_NOTIFICATION_DAY=25
MONTHLY_NOTIFICATION_HOUR=9
DAILY_NOTIFICATION_HOUR=9
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin


